<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>后台登录-X-admin1.1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../static/X-admin/css/font.css">
    <link rel="stylesheet" href="../static/X-admin/css/xadmin.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css">
    <script type="text/javascript" src="../static/jquery/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
    <script src="../static/layui/layui.js" charset="utf-8"></script>
    <script src="../static/layui/css/layui.css" charset="utf-8"></script>
    <script type="text/javascript" src="../static/X-admin/js/xadmin.js"></script>
    <script type="text/javascript" src="../static/jquery/jquery-3.3.1.js"></script>

</head>
<body>
<table class="layui-table" id="test" lay-filter="test"></table>

<div class="bg-changer">
    <div class="swiper-container changer-list">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img class="item" src="../X-admin/images/a.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="../X-admin/images/b.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="../X-admin/images/c.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="../X-admin/images/d.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="../X-admin/images/e.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="../X-admin/images/f.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="../X-admin/images/g.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="../X-admin/images/h.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="../X-admin/images/i.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="../X-admin/images/j.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="../X-admin/images/k.jpg" alt=""></div>
            <div class="swiper-slide"><span class="reset">初始化</span></div>
        </div>
    </div>
    <div class="bg-out"></div>
    <div id="changer-set"><i class="iconfont">&#xe696;</i></div>
</div>

<script>
    layui.use('table', function(){
        var table = layui.table;

        table.render({
            elem: '#test'
            ,url:'/getmerchantlist'
            ,title: '用户数据表'
            ,cols: [
                [
                {field:'id', title:'商家ID', width:20 }
                ,{field:'menuid', title:'菜单ID', width:20}
                ,{field:'announcement', title:'公告', width:20 }
                ,{field:'type', title:'营业状态', width:20}


            ]
            ]

        });


        //监听行工具事件

    });
</script>

</body>
</html>