<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>退出登录</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="X-admin/css/font.css">
	<link rel="stylesheet" href="X-admin/css/xadmin.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css">
    <!--<link rel="stylesheet" href="layui/css/layui.css">-->
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
    <script src="layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="X-admin/js/xadmin.js"></script>
    <script type="text/javascript" src="jquery/jquery-3.3.1.js"></script>

</head>
<body>
<div class="login-logo"><h1>退出登录</h1></div>
<div class="login-box">
    <form class="layui-form layui-form-pane" >

    </form>
</div>

<div class="bg-changer">
        <div class="swiper-container changer-list">
            <div class="swiper-wrapper">
            </div>
        </div>
        <div class="bg-out"></div>
        <div id="changer-set"><i class="iconfont">&#xe696;</i></div>
    </div>
</body>
<script>
    $(function () {
        $.ajax({
            type: "post",
            url: "/loginout",
            data: "",
            dataType: 'text',
            success: function (data) {
                if(data=="true")
                {
                    alert("退出登录成功");
                    window.location.href="./login.html";
                }
                else
                {
                    alert("尚未检测到账号登录");
                    window.location.href="./login.html";
                }
            },
            error: function () {
                alert("获取用户信息失败请重新登录");
                window.location.href="./login.html";
            }
        })
    });
</script>
</html>