<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/static/X-admin/css/font.css">
    <link rel="stylesheet" href="/static/X-admin/css/xadmin.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css">
    <script type="text/javascript" src="/static/jquery/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
    <script src="/static/X-admin/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/X-admin/js/xadmin.js"></script>

</head>
<body>
<!-- 顶部开始 -->
<div class="container">
    <div class="logo"><a href="../index.html">XFP—西邮服务平台后台</a></div>
    <div class="open-nav"><i class="iconfont">&#xe699;</i></div>
    <ul class="layui-nav right" lay-filter="">
        <li class="layui-nav-item">
            <a href="javascript:;">admin</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
                <dd><a href="">个人信息</a></dd>
                <dd><a href="">切换帐号</a></dd>
                <dd><a href="../login.html">退出</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="/">前台首页</a></li>
    </ul>
</div>
<!-- 顶部结束 -->
<!-- 中部开始 -->
<div class="wrapper">
    <!-- 左侧菜单开始 -->
    <div class="left-nav">
        <div id="side-nav">
            <ul id="nav">
                <li class="list">
                    <a href="index.html">
                        <i class="layui-icon">&#xe609;</i>
                        个人信息
                    </a>
                </li>
                <li class="list">
                    <a href="modify.html">
                        <i class="layui-icon">&#xe60a;</i>
                        修改信息
                    </a>
                </li>
                <li class="list">
                    <a href="repass.html">
                        <i class="layui-icon">&#xe66c;</i>
                        修改密码
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- 左侧菜单结束 -->
    <!-- 右侧主体开始 -->
    <div class="page-content">
        <div class="content">
            <!-- 右侧内容框架，更改从这里开始 -->

            <xblock>
                <fieldset class="layui-elem-field layui-field-title site-title">
                    <legend><a name="default">个人信息</a></legend>
                </fieldset>
            </xblock>

            <xblock>
                <fieldset class="layui-elem-field">
                    <legend style="font-size: small;color: #01AAED">用户名</legend>
                    <div class="layui-field-box">
                        东北张三
                    </div>
                </fieldset>

                <fieldset class="layui-elem-field">
                    <legend style="font-size: small;color: #01AAED">姓&nbsp;&nbsp;&nbsp;名</legend>
                    <div class="layui-field-box">
                        张三四
                    </div>
                </fieldset>

                <fieldset class="layui-elem-field">
                    <legend style="font-size: small;color: #01AAED">学&nbsp;&nbsp;&nbsp;号</legend>
                    <div class="layui-field-box">
                        12345678
                    </div>
                </fieldset>

                <fieldset class="layui-elem-field">
                    <legend style="font-size: small;color: #01AAED">手&nbsp;&nbsp;&nbsp;机</legend>
                    <div class="layui-field-box">
                        12345678
                    </div>
                </fieldset>

                <fieldset class="layui-elem-field">
                    <legend style="font-size: small;color: #01AAED">邮&nbsp;&nbsp;&nbsp;箱</legend>
                    <div class="layui-field-box">
                        12345678
                    </div>
                </fieldset>

            </xblock>
            <!-- 右侧内容框架，更改从这里结束 -->
        </div>
    </div>
    <!-- 右侧主体结束 -->
</div>
<!-- 中部结束 -->
<div class="bg-changer">
    <div class="swiper-container changer-list">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img class="item" src="../X-admin/images/a.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="../X-admin/images/b.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="../X-admin/images/c.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="../X-admin/images/d.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="../X-admin/images/e.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="../X-admin/images/f.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="../X-admin/images/g.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="../X-admin/images/h.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="../X-admin/images/i.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="../X-admin/images/j.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="../X-admin/images/k.jpg" alt=""></div>
            <div class="swiper-slide"><span class="reset">初始化</span></div>
        </div>
    </div>
    <div class="bg-out"></div>
    <div id="changer-set"><i class="iconfont">&#xe696;</i></div>
</div>
<!-- 底部开始 -->

<!-- 底部结束 -->

<script>


</script>
</body>
</html>