<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>快递代取</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/X-admin/css/font.css">
    <link rel="stylesheet" href="/layui/layui.css">
    <link rel="stylesheet" href="/X-admin/css/xadmin.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css">
    <script type="text/javascript" src="/jquery/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
    <script type="text/javascript" src="/X-admin/js/xadmin.js"></script>
    <script src="/layui/layui.js" charset="utf-8"></script>
</head>
<body>
<!-- 顶部开始 -->
<div class="container">
    <div class="logo"><a href="/index">快递代取</a></div>
    <div class="open-nav"><i class="iconfont">&#xe699;</i></div>
    <ul class="layui-nav right" lay-filter="">
        <li class="layui-nav-item">
            <a href="javascript:;">admin</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
                <dd><a href="">个人信息</a></dd>
                <dd><a href="">切换帐号</a></dd>
                <dd><a href="/loginout.html">退出登录</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="/index">前台首页</a></li>
    </ul>
</div>
<!-- 顶部结束 -->
<!-- 中部开始 -->
<div class="wrapper">
    <!-- 左侧菜单开始 -->
    <div class="left-nav">
        <div id="side-nav">
            <ul id="nav">
                <li class="list">
                    <a href="index.html">
                        <i class="iconfont">&#xe70b;</i>
                        校园快递
                    </a>
                </li>
                <li class="list">
                    <a href="my_express.html">
                        <i class="iconfont">&#xe70b;</i>
                        我的快递
                    </a>
                </li>
                <li class="list">
                    <a href="express-add.html">
                        <i class="iconfont">&#xe70b;</i>
                        代取快递
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- 左侧菜单结束 -->
    <!-- 右侧主体开始 -->
    <div class="page-content">
        <div class="content">
            <!-- 右侧内容框架，更改从这里开始 -->
            <form class="layui-form xbs" action="">
                <div class="layui-form-pane" style="text-align: center;">
                    <div class="layui-form-item" style="display: inline-block;">
                        <label class="layui-form-label xbs768">日期范围</label>
                        <div class="layui-input-inline xbs768">
                            <input class="layui-input" placeholder="开始日" id="LAY_demorange_s">
                        </div>
                        <div class="layui-input-inline xbs768">
                            <input class="layui-input" placeholder="截止日" id="LAY_demorange_e">
                        </div>
                        <div class="layui-input-inline" style="width:80px">
                            <button class="layui-btn" lay-submit="" lay-filter="sreach">
                                <i class="layui-icon">&#xe615;</i></button>
                        </div>
                    </div>
                </div>
            </form>
            <xblock>
                <div class="layui-btn-group demoTable">
                    <button class="layui-btn" data-type="getCheckData">获取选中行数据</button>
                    <button class="layui-btn" data-type="getCheckLength">获取选中数目</button>
                    <button class="layui-btn" data-type="isAll">验证是否全选</button>
                    <span class="x-right" style="line-height:40px">共有数据：3 条</span>
                </div>
            </xblock>

            <table class="layui-table"
                   lay-data="{ url:'/express/findAll'}"
                   lay-filter="demo">
                <thead>
                <tr>
                    <th lay-data="{type:'checkbox'}"></th>
                    <!--<th lay-data="{field:'id', width:80, fixed: true}">ID</th>-->
                    <th lay-data="{field:'name', width:80}">姓名</th>
                    <th lay-data="{field:'company', width:80}">快递公司</th>
                    <th lay-data="{field:'expressnum', width:80}">快递编号</th>
                    <th lay-data="{field:'phonenumber', width:160}">联系电话</th>
                    <th lay-data="{field:'address', width:80}">送达地址</th>
                    <th lay-data="{field:'status', width:80}">状态</th>
                    <th lay-data="{width:178, align:'center', toolbar: '#barDemo'}">操作</th>
                </tr>
                </thead>
            </table>


            <script type="text/html" id="barDemo">
                <!--<a class="layui-btn layui-btn-xs"  href="javascript:;" lay-event="edit">编辑</a>-->
                <a class="layui-btn layui-btn-danger layui-btn-xs"  href="javascript:;" lay-event="del" >删除</a>
            </script>
            <!-- 右侧内容框架，更改从这里结束 -->
        </div>
    </div>
    <!-- 右侧主体结束 -->
</div>
<!-- 中部结束 -->
<div class="bg-changer">
    <div class="swiper-container changer-list">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img class="item" src="../X-admin/images/a.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="../X-admin/images/b.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="../X-admin/images/c.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="../X-admin/images/d.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="../X-admin/images/e.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="../X-admin/images/f.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="../X-admin/images/g.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="../X-admin/images/h.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="../X-admin/images/i.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="../X-admin/images/j.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="../X-admin/images/k.jpg" alt=""></div>
            <div class="swiper-slide"><span class="reset">初始化</span></div>
        </div>
    </div>
    <div class="bg-out"></div>
    <div id="changer-set"><i class="iconfont">&#xe696;</i></div>
</div>
<!-- 底部开始 -->

<!-- 底部结束 -->
<!-- 页面动态效果 -->
<script>

    layui.use(['laydate'], function () {
        laydate = layui.laydate;//日期插件

        var start = {
            min: laydate.now()
            , max: '2099-06-16 23:59:59'
            , istoday: false
            , choose: function (datas) {
                end.min = datas; //开始日选好后，重置结束日的最小日期
                end.start = datas //将结束日的初始值设定为开始日
            }
        };

        var end = {
            min: laydate.now()
            , max: '2099-06-16 23:59:59'
            , istoday: false
            , choose: function (datas) {
                start.max = datas; //结束日选好后，重置开始日的最大日期
            }
        };

        document.getElementById('LAY_demorange_s').onclick = function () {
            start.elem = this;
            laydate(start);
        }
        document.getElementById('LAY_demorange_e').onclick = function () {
            end.elem = this
            laydate(end);
        }

    });

    layui.use('table', function () {
        var table = layui.table;
        //监听表格复选框选择
        table.on('checkbox(demo)', function (obj) {
            console.log(obj)
        });
        //监听工具条
        table.on('tool(demo)', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('你真的要删除么?', function (index) {
                    $.post('/express/delete',{id:data.id},function (data) {
                        obj.del();
                        layer.msg('删除成功！');
                        layer.close(index);
                    })
                    // layer.msg('删除成功！')
                    // obj.del();
                    // layer.close(index)
                });
            } else if (obj.event === 'edit') {
                layer.alert('编辑行：<br>' + JSON.stringify(data))
            }
        });

        var $ = layui.$, active = {
            getCheckData: function () { //获取选中数据
                var checkStatus = table.checkStatus('idTest')
                    , data = checkStatus.data;
                layer.alert(JSON.stringify(data));
            }
            , getCheckLength: function () { //获取选中数目
                var checkStatus = table.checkStatus('idTest')
                    , data = checkStatus.data;
                layer.msg('选中了：' + data.length + ' 个');
            }
            , isAll: function () { //验证是否全选
                var checkStatus = table.checkStatus('idTest');
                layer.msg(checkStatus.isAll ? '全选' : '未全选')
            }
        };

        $('.demoTable .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });

</script>
</body>
</html>