<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>生活缴费</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/X-admin/css/font.css">
    <link rel="stylesheet" href="/X-admin/css/xadmin.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css">

    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
    <script src="/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/X-admin/js/xadmin.js"></script>

</head>
<body>
<!-- 顶部开始 -->
<div class="container">
    <div class="logo"><a href="./paymentindex">生活缴费</a></div>
    <div class="open-nav"><i class="iconfont">&#xe699;</i></div>
    <ul class="layui-nav right" lay-filter="">
        <li class="layui-nav-item">
            <a href="javascript:;" id="name">name</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
                <dd><a href="">个人信息</a></dd>
                <dd><a href="">切换帐号</a></dd>
                <dd><a href="/loginout.html">退出登录</a></dd>
            </dl>
        </li>
    </ul>
</div>
<!-- 顶部结束 -->
<!-- 中部开始 -->
<div class="wrapper">
    <!-- 左侧菜单开始 -->
    <div class="left-nav">
        <div id="side-nav">
            <ul id="nav">
                <li class="list">
                    <a href="javascript:;">
                        <i class="iconfont">&#xe70b;</i>
                        缴费
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="./PayForCard.html">
                                <i class="iconfont">&#xe6a7;</i>
                                一卡通充值
                            </a>
                        </li>
                        <li>
                            <a href="./PayForElectricity.html">
                                <i class="iconfont">&#xe6a7;</i>
                                电费
                            </a>
                        </li>
                        <li>
                            <a href="./PayForWater.html">
                                <i class="iconfont">&#xe6a7;</i>
                                水费
                            </a>
                        </li>
                        <li>
                            <a href="./PayForPhone.html">
                                <i class="iconfont">&#xe6a7;</i>
                                话费
                            </a>
                        </li>
                        <li>
                            <a href="./PayForInternet.html">
                                <i class="iconfont">&#xe6a7;</i>
                                网费
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="list" >
                    <a href="javascript:;">
                        <i class="iconfont">&#xe6a3;</i>
                        记录
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu" style="display:none">
                        <li>
                            <a href="./PaymentRecording.html">
                                <i class="iconfont">&#xe6a7;</i>
                                缴费记录
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="list" >
                    <a href="/index">
                        <i class="iconfont">&#xe6a3;</i>
                        返回主页
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- 左侧菜单结束 -->
    <!-- 右侧主体开始 -->
    <div class="page-content">
        <div class="content">
            <!-- 右侧内容框架，更改从这里开始 -->
            <div class="login-box">
                <form class="layui-form layui-form-pane" >
                    <h3>话费充值</h3>
                    <label class="login-title" for="num">充值金额</label>
                    <div class="layui-form-item">
                        <label class="login-form layui-form-label " style="width: 50px"><i class="layui-icon layui-icon-rmb"></i></label>
                        <div class="layui-input-inline login-inline">
                            <input type="text" name="num" id="num" lay-verify="required" placeholder="请输入缴费金额" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <label class="login-title" for="way">充值方式</label>
                    <div class="layui-form-item">
                        <label class="layui-form-label login-form" style="width: 50px"><i class="layui-icon layui-icon-cart"></i></label>
                        <div class="layui-input-inline login-inline" id="way">
                            <select>
                                <option>支付宝</option>
                                <option>微信支付</option>
                                <option>银联</option>
                                <option>Visa</option>
                                <option>Paypal</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-actions">
                        <input type="button" class="btn btn-warning pull-right" onclick='paysubmit()' value="缴费"/>
                        <div class="forgot"><a href="member-password.html" class="forgot"></a></div>
                    </div>
                </form>
            </div>

            <!-- 右侧内容框架，更改从这里结束 -->
        </div>
    </div>
    <!-- 右侧主体结束 -->
</div>
<!-- 中部结束 -->
<!-- 底部开始 -->
<div class="footer">
    <div class="copyright">Copyright ©2017 x-admin v2.3 All Rights Reserved. 本后台系统由X前端框架提供前端技术支持</div>
</div>
<!-- 底部结束 -->
<!-- 背景切换开始 -->
<div class="bg-changer">
    <div class="swiper-container changer-list">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img class="item" src="../X-admin/images/a.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="../X-admin/images/b.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="../X-admin/images/c.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="../X-admin/images/d.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="../X-admin/images/e.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="../X-admin/images/f.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="../X-admin/images/g.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="../X-admin/images/h.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="../X-admin/images/i.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="../X-admin/images/j.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="../X-admin/images/k.jpg" alt=""></div>
            <div class="swiper-slide"><span class="reset">初始化</span></div>
        </div>
    </div>
    <div class="bg-out"></div>
    <div id="changer-set"><i class="iconfont">&#xe696;</i></div>
</div>
<!-- 背景切换结束 -->

</body>
<script>
    function paysubmit(){
        var pay ={};
        pay.num=$("#num").val();
        pay.way=$("#way").children().val();

        $.ajax({
            type: "post",
            url: "/payforphonea",
            data: (pay),
            dataType: "text",
            success: function (data) {
                window.location.href="./paymentresult.html"
            },
            error: function () {
                alert("error");
            }
        })}
    $(function () {
        $.ajax({
            type: "post",
            url: "/getname",
            data: "",
            dataType: 'text',
            success: function (data) {
                if(data!="")
                {
                    $("#name").html(data);
                }
                else
                {
                    alert("获取用户信息失败请重新登录");
                    window.location.href="/login.html";
                }
            },
            error: function () {
                $("#name").html("获取用户名称失败");
                alert("获取用户信息失败请重新登录");
                window.location.href="/index";
            }
        })
    });
</script>
</html>